html, body {
    margin:0;
    padding:0;
    font-size:14px;
    /*color: #0f0f0f;*/
    color: lime;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}


#page {
	width:100vw;
	height:100vh;
}



/* nav divs */

#top_nav {
    background-color: red;
}

#bottom_nav {
    background-color: orange;
}


.nav_container {
    display: flex;
    justify-content: space-between;
	width:100vw;
    position: absolute;
    text-align: center;
}

.evenly_spaced a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin: auto 5 auto 5;
    font-weight: bold;
}

.evenly_spaced a:hover {
    background-color: #ddd;
    color: black;
}



/* menus */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
    font-weight: normal;
    font-size: 14px;
}

.dropup {
    bottom: 14px;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 70%;
    text-align: left;
    font-weight: bold;
}

.dropdown_content a:hover {
    background-color: #666; 
    color: #fff;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}



/* info divs */

#top_info {
}
#bottom_info {
}

.info_container {
	width:100vw;
    height: 5vh;
    position: absolute;
    text-align: center;
}

.centerbold{
    position:relative;
    top:33%;
    font-weight: bold;
    font-size: 150%;
}


/* player divs */

#top_player {
}

#bottom_player {
}

.player_container {
    position: absolute;
	width:100vw;
    height: 5vh;
}

.player_name {
    box-sizing:border-box;
    padding:10px;
	display:block;
}

.player_time {
    font-size:24px;
    line-height:32px;
    float:right;
}






/* space divs */

.player_space {
    position: absolute;
	width:100vw;
    height: 5vh;
}

#top_space {
}

#bottom_space {
}








#board {
    width: 100vw;
    position: absolute;
}






.observe {
    border:1px solid black;
    box-sizing:border-box;
    padding: 0 10px;
    display:inline-block;
	float:left;
}

/*
.observe .board {
    display:inline-block;
}
*/

.observe .game_info_container {
    height:100%;
    max-height:400px;
    margin-left:10px;
	display:inline-block;
	vertical-align:middle;
}

.observe .game_info {
    display:inline-block;
    border:1px solid black;
    box-sizing:border-box;
    align-items: stretch;
    padding: 0 10px;
    max-width: 250px;
}


.board_info_container {
    display:inline-block;
    /* max-height:400px; */
	vertical-align:middle;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}








#games_div {
    /*
	position:absolute;
	top:400px;
	width:100%;
	padding-top:10px;
    */
	width:100vw;
	height:100vh;
    display: table-cell;
    vertical-align: middle;
}












.wrapper {
    width:100%;
    max-width:1024px;
    margin:auto;
}

#header {
    height:55px;
    background-color:#3f6fff;
    padding-left:15px;
    border-bottom: 1px solid #0033ce;
    box-sizing:border-box;
}

#logo {
    position:relative;
    height:100%;
    color:#fff;
    font-size:24px;
    font-weight:300;
    display:inline-block;
    line-height:55px;

}

#resizer {
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    cursor: w-resize;
}

.commands_container {
	padding:5px;
    box-sizing:border-box;
	display:flex;
	position:absolute;
	bottom:0;
	width:100%;
	height:100%;
}

.draggable_container {
	position:relative;
	height:400px;
	min-height:35px;
}

.shell_container, .lists_container {
    width:50%;
	height:100%;
}

#shellout, #lists {
    height:calc(100% - 35px);
    overflow: auto; 
    white-space:nowrap;
    padding : 0 18px 0 3px;
    box-sizing:border-box;
}


.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
  }


.move_list {
    border: 1px solid black;
    box-sizing:border-box;
    overflow: auto;
    position: relative;
    will-change: scroll-position;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    max-height:200px;
}

.move_number {
    display: flex;
    flex: 0 0 15%;
    max-width: 15%;
    line-height: 27px;
    background: indigo;
    justify-content: center;
    height: 25px;
}

.move {
    flex: 0 0 42.5%;
    max-width: 42.5%;
    box-sizing: border-box;
    font-family: 'ChessSansPiratf',sans-serif;
    font-size: 17px;
    padding-left: 7px;
	height: 25px;
	line-height: 25px;
}

.highlight {
    background-color: indigo;
}

.highlight-square {
    -webkit-box-shadow: inset 0 0 3px 3px green;
    -moz-box-shadow: inset 0 0 3px 3px green;
    box-shadow: inset 0 0 3px 3px green;  
}

.list-item {
    text-decoration: none;
}



.highlight-square-blue {
    -webkit-box-shadow: inset 0 0 0 200px rgba(0, 0, 255, .5);
    -moz-box-shadow: inset 0 0 0 200px rgba(0, 0, 255, .5);
    box-shadow: inset 0 0 0 200px rgba(0, 0, 255, .5);
}

.highlight-square-yellow {
    -webkit-box-shadow: inset 0 0 0 200px rgba(255, 255, 0, .5);
    -moz-box-shadow: inset 0 0 0 200px rgba(255, 255, 0, .5);
    box-shadow: inset 0 0 0 200px rgba(255, 255, 0, .5);
}



.highlight-square-green {
    -webkit-box-shadow: inset 0 0 0 200px rgba(0, 255, 0, .5);
    -moz-box-shadow: inset 0 0 0 200px rgba(0, 255, 0, .5);
    box-shadow: inset 0 0 0 200px rgba(0, 255, 0, .5);
}


.highlight-square-cyan {
    -webkit-box-shadow: inset 0 0 0 200px rgba(0, 255, 255, .5);
    -moz-box-shadow: inset 0 0 0 200px rgba(0, 255, 255, .5);
    box-shadow: inset 0 0 0 200px rgba(0, 255, 255, .5);
}

.highlight-square-red {
    -webkit-box-shadow: inset 0 0 0 200px rgba(255, 0, 0, .5);
    -moz-box-shadow: inset 0 0 0 200px rgba(255, 0, 0, .5);
    box-shadow: inset 0 0 0 200px rgba(255, 0, 0, .5);
}




.highlight-square-magenta {
    -webkit-box-shadow: inset 0 0 0 200px rgba(255, 0, 255, .5);
    -moz-box-shadow: inset 0 0 0 200px rgba(255, 0, 255, .5);
    box-shadow: inset 0 0 0 200px rgba(255, 0, 255, .5);
}


